@import 'colors';
@import 'about';
@import 'aktuellt';
@import 'footer';
@import 'nav';
@import 'tax';
@import 'varahundar';

.content {
  background-color: $green }

.page-title, .om-title, .secondary-title {
  color: $white;
  font-family: 'Lobster Two', cursive;
  font-size: 40pt;
  text-align: center;
  padding-top: 30px; }

.om-title {
  padding-bottom: 30px; }

.secondary-title {
  font-size: 22pt;
  margin-top: -10px; }

.start-page p, .contact-text-top, .contact-text-mid, .contact-text-bot,
.pic-text-right, .pic-text-left, .img-txt-left, .img-txt-right, .tax-intro,
.aktuellt, .tax-info, .aktuellt-header {
  color: $white;
  font-family: 'Poiret One', cursive; }

.start-page p, .tax-intro {
  font-size: 22pt;
  text-align: justify;
  width: 800px;
  margin: auto;
  padding: 50px 50px 50px 50px; }

.box-first {
  padding-bottom: 10px;
  background-color: $green }

.box-second {
  background-color: $beige }

.box-third {
  background-color: $brown }

.divider-one {
  display: none;
  height: 20px;
  background-color: $beige }

.divider-two {
  display: none;
  height: 20px;
  background-color: $brown }

.divider-sticky-one {
  margin-top: 82px; }
  .divider-sticky-one .divider-one {
    display: block; }

.divider-sticky-two {
  margin-top: 102px; }
  .divider-sticky-two .divider-two {
    display: block; }

.text-break {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media only screen and (min-width: 1025px) {
  .text-break {
    background-attachment: fixed;
	background-position: center 80px;
  }
}

.pic-1 {
  background-image: url("../img/skogen.jpg"); }

.pic-2 {
  background-image: url("../img/sodersjon.jpg"); }

.pic-3 {
  background-image: url("../img/taxar-head.jpg"); }

.pic-4 {
  background-image: url("../img/taxar-foot.jpg"); }
