@import 'colors';

.vara-hundar p {
  color: $white;
  font-family: 'Poiret One';
  font-size: 16pt;
  text-align: center;
}

.tax-box:first-of-type {
  margin-top: 40px;
}
.tax-box:last-of-type {
  margin-bottom: 40px;
}
.tax-box {
  max-width: 800px;
  height: 250px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  .tax-bild {
    width: 250px;
    float: left;
    .tax-portrait {
      width: 250px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 10px solid $white;
    }
  }
  .tax-info {
    position: relative;
    width: calc(100% - 250px);
    float: left;
    padding-left: 42px;
  }
  .tax-info::before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1%;
    vertical-align: middle;
  }
  .tax-info p {
    display: inline-block;
    vertical-align: middle;
    width: 99%;
    text-align: left;
    padding: 0;
  }
}

.tax-grupp {
  max-width: 800px;
  margin: auto;
  &__bild {
    box-sizing: border-box;
    border: 10px solid $white;
    max-width: inherit;
    margin-bottom: 10px;
    &-text {
      padding-bottom: 40px;
    }
  }
  &__foraldrar {
    &-header {
      margin: 10px 0;
      color: $white;
      font-family: 'Lobster Two', cursive;
      font-size: 20pt;
      text-align: center;
    }
    &-container {
      display: flex;
      flex-direction: row;
    }
    &-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 50%;
    }
    &-bild {
      box-sizing: border-box;
      border: 10px solid $white;
      max-width: 100%;
      height: 280px;
    }
  }
}
